body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2e2e2e;
    color: #ffffff;
}

#game-container {
    text-align: center;
    background-color: #3e3e3e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5c5c5c;
    color: #ffffff;
}

button:hover {
    background-color: #757575;
}
